.header__list
    +reset-list
    display: flex
    padding-right: 3.125rem

.header__item
    &:first-of-type
        margin-right: auto

.header__link
    display: block
    opacity: 1
    pointer-events: auto
    height: 28px
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    transition: opacity 0.1s
    &--logo
        width: 150px
        background-image: url('../images/svg-sprites/sprite.svg#logo')
    &--search
        width: 28px
        background-image: url('../images/svg-sprites/sprite.svg#search')
    &--info
        width: 25px
        background-image: url('../images/svg-sprites/sprite.svg#info')
    &.shown
        opacity: 0
        transition: opacity 0.3s
        pointer-events: none

@media (min-width: $tablet-width)
    .header__list
        padding-right: 6.8rem

    .header__item
        & + &
            margin-left: 3rem

    .header__link
        &--logo
            width: 212px
            height: 39px
        &--search
            width: 48px
            height: 47px
        &--info
            width: 41px
            height: 47px
