section.benefits.container
  .benefits__wrapper
    h2.benefits__title Комплексное действие
    p.benefits__text Венарус показан для терапии симптомов хронических заболеваний вен (устранения и облегчения симптомов).
