section.therapy.container
  .therapy__wrapper
    h2.therapy__title Комплексное действие
    p.subtitle.therapy__subtitle Венарус показан для терапии симптомов хронических заболеваний вен (устранения и облегчения симптомов).

  ul.therapy__list
      li.therapy__item
        p.therapy__text Помогает предотвратить судороги
        .therapy__svg-container.therapy__svg-container--1
          svg(class='therapy__svg therapy__svg--1' width='124' height='123' viewbox='0 0 124 123' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='m73.33 7.85.16.1.19-.03 13.3-2.01 7.4 11.23.1.16.18.05 12.97 3.57 2.2 13.27.03.19.14.11 10.4 8.54-3.4 13.02-.04.18.09.17 6.02 12.03-8.4 10.5-.11.15v.2l.62 13.43-11.94 6.19-.17.09-.07.17-4.9 12.53-13.43.8h-.2l-.13.14-9.57 9.44-12.6-4.73-.17-.07-.18.07-12.59 4.73-9.57-9.44-.14-.14h-.19l-13.42-.8L21 99.16l-.07-.17-.17-.09-11.94-6.19.61-13.44.01-.19-.12-.14L.93 68.43 6.95 56.4l.09-.17-.05-.18-3.4-13.02L14 34.5l.15-.11.03-.19 2.2-13.27 12.97-3.57.18-.05.1-.16 7.4-11.23 13.3 2.01.19.03.16-.1L62 .6l11.33 7.25Z' stroke='#fff')
        a.link.therapy__link(href='#') Подробнее >

      li.therapy__item
        p.therapy__text Способствует снижению тяжести в ногах
        .therapy__svg-container.therapy__svg-container--2
          svg(class='therapy__svg therapy__svg--2' width='149' height='166' viewbox='0 0 149 166' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M27.42 149.5c18.67-5.23 59.94-26.76 75.62-71.09 15.68-44.33 18-62.25 17.2-65.66' stroke='white')
              animate(attributename='d' dur='5s' repeatcount='indefinite' values='M27.42 149.5c18.67-5.23 59.94-26.76 75.62-71.09 15.68-44.33 18-62.25 17.2-65.66; M28.42 149.5c18.67-5.23 72.4-26.43 75.62-71.09 2.96-40.91 18-62.25 17.2-65.66; M27.42 149.5c18.67-5.23 59.94-26.76 75.62-71.09 15.68-44.33 18-62.25 17.2-65.66')
            path(d='M8.37 138.72c2.46-8.4 13.36-28.28 37.3-40.66 29.92-15.47 75-16.97 100.18-49.67' stroke='white')
              animate(attributename='d' dur='5s' repeatcount='indefinite' values='M8.37 138.72c2.46-8.4 13.36-28.28 37.3-40.66 29.92-15.47 75-16.97 100.18-49.67; M9.37 138.72c2.46-8.4 11-34.83 37.3-40.66C78.5 91 132.5 89.5 146.85 48.39; M8.37 138.72c2.46-8.4 13.36-28.28 37.3-40.66 29.92-15.47 75-16.97 100.18-49.67')
        a.link.therapy__link(href='#') Подробнее >

      li.therapy__item
        p.therapy__text Способствует снижению болевых ощущений
        .therapy__svg-container.therapy__svg-container--3
        a.link.therapy__link(href='#') Подробнее >

      li.therapy__item
        p.therapy__text Помогает уменьшить отеки
        .therapy__svg-container.therapy__svg-container--4
        a.link.therapy__link(href='#') Подробнее >

      li.therapy__item
        p.therapy__text Оказывает ангиопротекторное и венотонизурующее действие
        .therapy__svg-container.therapy__svg-container--5
          svg(class='therapy__svg therapy__svg--5' width='136' height='72' viewbox='0 0 136 72' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='m34.14.66-33.5 35-.35.36.36.35 33.5 32 .7-.72L2.25 36.5H133.83l-32.7 34.15.73.7 33.5-35 .35-.37-.37-.34-33.5-32-.69.72 32.6 31.14H2.17l32.7-34.16-.73-.69Z' fill='#fff')
        a.link.therapy__link(href='#') Подробнее >
