extends /blocks/layout/layout

block head
 -
  const pageTitle = 'Венарус'
  const pageDescription = ''

block content
  include /blocks/promo/promo.pug
  include /blocks/benefits/benefits.pug
  include /blocks/therapy/therapy.pug

