section.benefits.container
  h2.benefits__title.visually-hidden Преимущества Венарус
  ul.benefits__list
    li.benefits__item.benefits__item--eff
      p.benefits__text Доказанная эффективность
    li.benefits__item.benefits__item--dose
      p.benefits__text Новая дозировка 100&nbsp;мг + 900&nbsp;мг
    li.benefits__item.benefits__item--tab
      p.benefits__text Удобный прием. Одна таблетка в сутки*
        span.benefits__tooltip
          button.benefits__tooltip-btn(type='button' aria-labelledby='tooltip-label')
          span.benefits__tooltip-text#tooltip-label Текст для мини всплывашки
