.buy
    background-image: linear-gradient(360deg, rgba(71, 9, 62, 0.5) -7.14%, rgba(255, 255, 255, 0) 100%)
    background-size: 100% 30px
    background-repeat: no-repeat
    background-position: bottom

.buy__title
    width: 130px

.buy__img
    width: 320px
    height: auto
    transform: scale(1.1)

.buy__wrapper
    display: flex
    flex-direction: column
    &--img
        align-items: center

.buy__wrapper-btn
    display: flex
    flex-direction: column
    align-items: center
    margin: 1rem 0 2rem

.buy__button
    & + &
        margin-top: 1rem

@media (min-width: $tablet-width)
    .buy
        background-size: 100% 40px
        &.container
            padding-top: 5rem

    .buy__wrapper--title
        width: 100%

    .buy__img
        width: 500px
        height: auto

    .buy__wrapper-btn
        flex-direction: row

    .buy__button
        & + &
            margin-top: 0
            margin-left: 1rem

@media (min-width: $desktop-width)
    .buy
        background-size: 100% 60px

    .buy__container
        display: flex
        &.container
            padding-top: 8rem

    .buy__wrapper
        &--title
            width: 22%
            margin-right: 2rem
        &--img
            margin-top: -6%

    .buy__img
        width: 700px
        height: auto
        transform: translateX(-2%)

    .buy__wrapper-btn
        margin: 1rem 0 4rem

    .buy__button
        & + &
            margin-left: 2rem
