section.buy
  .buy__container.container
    .buy__wrapper.buy__wrapper--title
      h2.buy__title Где купить
      p.subtitle.buy__subtitle Ветонизирующее средство ВЕНАРУС вы можете приобрести в аптеках вашего города

    .buy__wrapper.buy__wrapper--img
      picture
        source(media='(min-width: 860px)' type='image/webp' srcset='images/venarus-buy-desk.webp 1x, images/venarus-buy-desk@2x.webp 2x')
        source(media='(min-width: 860px)' srcset='images/venarus-buy-desk.png 1x, images/venarus-buy-desk@2x.png 2x')

        source(type='image/webp' srcset='images/venarus.webp 1x, images/venarus@2x.webp 2x')
        img.buy__img(src='images/venarus.png' srcset='images/venarus@2x.png 2x' alt='Изображение препарата Венарус' width='320' height='228')

      .buy__wrapper-btn
        button.button.button--hover-dark.buy__button(type='button') apteka.ru
        button.button.button--hover-dark.buy__button(type='button') 366.ru
        button.button.button--hover-dark.buy__button(type='button') stolichki.ru


