nav.nav
  .nav__wrapper
    ul.nav__list
      li.nav__item.nav__item--active
        a.nav__link(href='#') Где купить
      li.nav__item
        a.nav__link(href='#') О препарате
      li.nav__item
        a.nav__link(href='#') О варикозе
      li.nav__item
        a.nav__link(href='#') Решение
      li.nav__item
        a.nav__link(href='#') Специалистам
      li.nav__item
        a.nav__link(href='#') Геморрой
