.nav
    position: absolute
    width: 100%
    height: 100vh
    padding-top: 2rem
    background-color: $white
    transform: translateX(-200%)
    transition-duration: transform 0.2s
    z-index: 10
    &.animate
        height: 100vh
        transform: translateX(-$xs)
        transition: transform 0.2s ease-in-out

.nav__wrapper
    width: 100%

.nav__list
    +reset-list

.nav__item
    position: relative
    width: 100%
    color: $black
    padding: 2rem $xs
    &::after,
    &::before
            content: ''
            position: absolute
            left: 0
            width: 100%
            height: 300px
            background-repeat: no-repeat
            background-size: contain
            background-position: center top
            z-index: -1
    &--active
        color: $purple
        &::after
            top: 10%
            background-image: url('../images/svg-sprites/sprite.svg#menu-1')
            @media (min-width: $tablet-width-1)
                top: -18%
    &--about
        &::before
            top: 0
            background-image: url('../images/svg-sprites/sprite.svg#menu-2')
        &::after
            top: 60%
            background-image: url('../images/svg-sprites/sprite.svg#menu-3')

    &--specialist
        &::before
            top: 0
            background-image: url('../images/svg-sprites/sprite.svg#menu-4')
        &::after
            top: 60%
            background-image: url('../images/svg-sprites/sprite.svg#menu-5')

.nav__link
    +merriweather
    +font(1rem, 1)

@media (min-width: $tablet-width)
    .nav
        &.animate
            transform: translateX(-$xm)

    .nav__wrapper
        padding-top: 5rem

    .nav__item
        padding: 2.5rem $xm
        &--active
            &::after
                top: -50%
                @media (min-width: $desktop-width-1)
                    top: -100%
        &--about
            &::after
                top: 5%
        &--specialist
            &::before
                top: -11%
            &::after
                top: 50%

@media (min-width: $desktop-width)
    .nav
        width: 105%
        transition-duration: transform 0.4s
        &.animate
            transform: translateX(-$xl)
            transition: transform 0.2s ease-in-out

    .nav__wrapper
        padding-top: 4rem

    .nav__item
        padding: 2.6rem $xl
