@mixin font($font-size, $line-height)
    font-size: $font-size
    line-height: $line-height

@mixin roboto
    font-family: "Roboto", "Arial", sans-serif
    font-weight: 400

@mixin roboto-300
    font-family: "Robotolight", "Arial", sans-serif
    font-weight: 300

@mixin merriweather
    font-family: "Merriweather-Bold", "Arial", sans-serif
    font-weight: 700

@mixin reset-list
    margin: 0
    padding: 0
    list-style: none

@mixin reset-btn
    padding: 0
    background-color: transparent
    border: none
    cursor: pointer

@mixin hover
    &
        transition: opacity 0.1s
        &:hover
            opacity: 0.7
            transition: opacity 0.3s
            
// Центрирование
@mixin align-center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

@mixin align-top
    position: absolute
    top: 50%
    transform: translateY(-50%)

@mixin align-left
    position: absolute
    left: 50%
    transform: translateX(-50%)
