// Colors
$black: #000000
$white: #FCFCFC
$purple :#771373
$gray: #777777
$btn: #5B0E58
$link: #590D56
$svg: #47093E

//Paddings
$xl: 9.375rem // desktop
$xm: 4rem // tablet
$xs: 0.875rem // mobile

// Viewports
$desktop-width: 1440px
$desktop-width-1: 1280px
$tablet-width: 860px
$tablet-width-1: 640px
$mobile-width: 320px
