section.opinion.container
  .opinion__wrapper
    h2.opinion__title Мнение специалистов
    p.opinion__text Фармакотерапия — неотъемлемый компонент современного лечения хронического заболевания вен.
  .opinion__slider.swiper
    .opinion__slider-wrapper.swiper-wrapper
      .opinion__slide.swiper-slide
        a.link--round.opinion__link(href='#')
        .opinion__picture
          +picture( 'opinion__img', 'opinion-1', 'Девушка-врач сидит за столом и дает консультацию', '847', '570')

      .opinion__slide.swiper-slide
        .opinion__picture
          +picture( 'opinion__img', 'opinion-1', 'Девушка-врач сидит за столом и дает консультацию', '847', '570')

      .opinion__slide.swiper-slide
        .opinion__picture
          +picture( 'opinion__img', 'opinion-1', 'Девушка-врач сидит за столом и дает консультацию', '847', '570')

    .opinion__pagination.swiper-pagination
