section.promo
  .promo__wrapper.container
    h1.promo__title Надежный помощник в лечении варикоза

    svg(class='promo__svg' width='100%' height='100%' viewbox='0 0 1440 761' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M1184 12C876.68 88.09 865.36 384.47 448.5 290c-139-31.5-333.67-11.1-450.5 37.58v43.56S314 239.5 623.5 574.5 1440 520 1440 520V62.9C1322.5 6.04 1287-13.5 1184 12Z' fill='url(#paint0_linear_2_39)')
        animate(attributename='d' dur='5s' repeatcount='indefinite' values='M1184 12C876.68 88.09 865.36 384.47 448.5 290c-139-31.5-333.67-11.1-450.5 37.58v43.56S314 239.5 623.5 574.5 1440 520 1440 520V62.9C1322.5 6.04 1287-13.5 1184 12Z; M1184 12C876.68 88.09 890.36 403.47 473.5 309c-139-31.5-358.67-30.1-475.5 18.58v43.56S289 272 623.5 574.5 1440 520 1440 520V62.9C1322.5 6.04 1295.5-15.6 1184 12Z; M1184 12C876.68 88.09 865.36 384.47 448.5 290c-139-31.5-333.67-11.1-450.5 37.58v43.56S314 239.5 623.5 574.5 1440 520 1440 520V62.9C1322.5 6.04 1287-13.5 1184 12Z')
      defs
        lineargradient#paint0_linear_2_39(x1='1318' y1='521.112' x2='187.078' y2='644.159' gradientunits='userSpaceOnUse')
          stop(stop-color='#590D56')
          stop(offset='1' stop-color='#8C1688')

    picture
      source(media='(min-width: 860px)' type='image/webp' srcset='images/venarus-desk.webp 1x, images/venarus-desk@2x.webp 2x')
      source(media='(min-width: 860px)' srcset='images/venarus-desk.png 1x, images/venarus-desk@2x.png 2x')

      source(type='image/webp' srcset='images/venarus.webp 1x, images/venarus@2x.webp 2x')
      img.promo__img(src='images/venarus.png' srcset='images/venarus@2x.png 2x' alt='Изображение препарата Венарус' width='320' height='228')

    .promo__about
      ul.promo__list
        li.promo__item
          a.link.promo__link.promo__link--scheme(href="#") Схема приема
        li.promo__item
          a.link.promo__link.promo__link--instruction(href="#") Инструкция
        li.promo__item
          a.link.promo__link.promo__link--info(href="#") Где купить

    .promo__button-wrapper
      button.promo__button.promo__button--prev(type='button')
        span.visually-hidden Назад
      button.promo__button.promo__button--next(type='button')
        span.visually-hidden Вперед
    button.button.button--secondary.button--hover-light.promo__button-buy(type='button') Где купить >

  .promo__marquee
    div
      p.promo__marquee-text >>> получить скидку 10% >>> получить скидку 10% >>> получить скидку 10% >>> получить скидку 10%
      p.promo__marquee-text >>> получить скидку 10% >>> получить скидку 10% >>> получить скидку 10% >>> получить скидку 10%
