footer.footer.container
  p.footer__title БИОЛОГИЧЕСКИ АКТИВНАЯ ДОБАВКА. НЕ ЯВЛЯЕТСЯ ЛЕКАРСТВОМ
  .footer__top
    p.footer__text Сообщить о нежелательном явлении
    p.footer__text Условия пользования сайтом и файлами Cookies
    ul.footer__list
      li.footer__item
        span.visually-hidden ВКонтакте
        a.footer__link.footer__link--vk(href='#')
      li.footer__item
        span.visually-hidden Фейсбук
        a.footer__link.footer__link--fb(href='#')
      li.footer__item
        span.visually-hidden Твиттер
        a.footer__link.footer__link--tw(href='#')
      li.footer__item
        span.visually-hidden Одноклассники
        a.footer__link.footer__link--ok(href='#')

  .footer__bottom
    .footer__bottom-contacts
      p.footer__bottom-text г. Москва, ул. Шаболовка, д. 31, стр. 11, 4 этаж
      p.footer__bottom-text Телефон:
        a.footer__link-bottom(href='tel:+74955555555')  +7 (495) 555-55-55
    .footer__bottom-pharm
      a.footer__link-pharm(href='#')
        span.visually-hidden Сайт Фарм-студия
      .footer__bottom-text-wrapper
        p.footer__bottom-text Создание сайтов
        p.footer__bottom-text Фарм-студия №1 в Рунете
